{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title> Statistic by Province </title>
{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css"  href="{% static 'css/fact_checker.css' %}">
{% endblock style %}
    {% block content  %}
        <br>
        <p class ="font-black-muted"> Source : data.covid19.go.id | Last Updated : {{ last_updated }}</p>
        <br>
        {% for i in data_covid  %}
        <div class="grey-card">
            <div class="container">
                <br>
                    <h4 class="font-dark-blue bold d-flex justify-content-center">{{ i.key }}</h4>
                <br>
                <div class="row">
                    <div class="col-sm">
                        <h5 class="font-yellow bold d-flex justify-content-center">Total Case</h5>
                        <h5 class="font-black bold d-flex justify-content-center">{{ i.jumlah_kasus }}</h5>
                    </div>
                    <div class="col-sm">
                        <h5 class="font-yellow bold d-flex justify-content-center">On Recovery</h6>
                        <h5 class="font-black bold d-flex justify-content-center">{{ i.jumlah_dirawat }}</h5>
                    </div>
                    <div class="col-sm">
                        <h5 class="font-yellow bold d-flex justify-content-center">Deaths</h6>
                        <h5 class="font-black bold d-flex justify-content-center">{{ i.jumlah_meninggal }}</h5>
                    </div>
                    <div class="col-sm">
                        <h5 class="font-yellow bold d-flex justify-content-center">Recovered</h6>
                        <h5 class="font-black bold d-flex justify-content-center">{{ i.jumlah_sembuh }}</h5>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <br>
        {% endfor %}

    {% endblock %} 