{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title> Home </title>
{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css"  href="{% static 'css/fact_checker.css' %}">
{% endblock style %}
    {% block content  %}
        <br>
            <p class ="font-black-muted"> Source : data.covid19.go.id | Last Updated : {{ last_updated }}</p>
            <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <h2 class= "font-grey">Positive Cases:</h2>
                <h2 class= "font-black bold">{{ postive_case }}</h2>
                <br><br>
                <h2 class= "font-grey">Deaths:</h3>
                <h2 class= "font-black bold">{{ deaths }}</h2>
                <br><br>
                <h2 class= "font-grey">Recovered:</h3>
                <h2 class= "font-black bold">{{ recovered }}</h2>
                <br>
            </div>
            <div class="right-statistic col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <img class="img-responsive" src="https://files.catbox.moe/41i1g5.png" >
            </div>
        </div>
    {% endblock %}