{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    <title>Feedback</title>
{% endblock page_title %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylefb.css' %}">
{% endblock style %}

{% block content %}
    <h1>Feedback</h1>
    <br>
    <div class="container">
        <div class="row">
            <div id= "col1" class="col">
                <div class="container-fluid">
                    {% for i in feedback_list %}
                    <div class="mini-block">
                        <ul class="row justify-content-start">
                            <p style="color:#154360;">
                                <b>{{ i.email }}</b>
                                <br>
                                {{ i.kritik_saran }}
                            </p>
                            
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <div class="container-fluid">
                    <form class="main-form" id="form" method="POST">
                        {% csrf_token %}
                        {% for form in FormFeedback %}
                            <div class="form-group">
                                {{form.label}}
                                {{form}}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-success float-right" style="background-color: #154360; color:#FCA311">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}