@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.body {
    font-family: 'Raleway', sans-serif;
}

h2 {
    text-align: right;
}


img {
    max-width: 200%;
}