@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.body {
    font-family: 'Raleway', sans-serif;
}

/* Bold */
.bold {
    font-weight: bold;
}

/* align */
.center{
    justify-content: center;
}

/* Color */
.font-dark-blue {
    color: rgb(20, 33, 61)
}

.font-yellow {
    color: rgb(252, 163, 17)
}

.font-black {
    color: rgb(0, 0, 0)
}

.font-black-muted {
    color: rgb(0, 0, 0, 0.5)
}

.font-grey {
    color: rgb(229, 229, 229);
}

/* Card */
.grey-card {
    background-color: rgb(229, 229, 229);
    border-radius: 25px;
    word-break: break-word;
}

.grey-card a {
    color: rgb(252, 163, 17)
}

.white-card {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border-style : solid;
}

/* TextArea */
.textinput  {
    border-radius:25px;
}

/* image */
.right-statistic img {
    max-width: 100%;
}
