.card-body {
  background-color: #14213D;
}.card-body h5, p {
  color: #FFFFFF;
}

.message {
  color: #FCA311;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  color: #FCA311;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.main-form {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}.main-form label {
  color: #FCA311;
  font-size: 20px;
}

.column {
  flex: 50%;
  padding: 50px;
}

.container-fluid {
  background-color: #14213D;
  padding-bottom: 5px;
}.container-fluid h2{
  color: #FCA311;
  padding-top: 30px;
}

.container {
  margin-top: 120px;
}

.mini-block {
  background-color: #FFFFFF;
}


@media screen and (max-width: 800px) {
  .column {
    flex: 100%;
    max-width: 100%;
    padding: 10px;
  }
}
@media screen and (max-width: 300px) {
  .column {
    flex: 100%;
    max-width: 100%;
    padding: 0px;
  }
}
