.d-flex {
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  align-items: center;
}

.col-3 {
  flex: 1;
  padding: 10px;
}

.block {
  background-color: #14213D;
  padding: 10px;
  margin-top: 5px;
  width: 100%;
}.block p{
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
}

.col-3 img {
  margin-top: 8px;
  vertical-align: middle;
  cursor: pointer;
  height: 230px;
  width: 310px;
}

@media screen and (max-width: 1200px) {
  .col-3 {
    flex: 100%;
    max-width: 100%;
    padding-left: 300px;
  }
  .block {
    max-width: 310px;
  }
}

@media screen and (max-width: 1000px) {
  .col-3 {
    flex: 50%;
    padding-left: 200px;
  }
  .block {
    max-width: 310px;
  }
}

@media screen and (max-width: 600px) {
  .col-3 {
    flex: 100%;
    padding-left: 80px;
  }
  .block {
    flex: 100%;
    max-width: 310px; 
  }
}

@media screen and (max-width: 500px) {
  .col-3 {
    flex: 100%;
    padding-left: 0px;
  }
  .block {
    flex: 100%;
    max-width: 310px;
  }
}

@media screen and (max-width: 420px) {
  .col-3 {
    flex: 100%;
    padding-left: 20px;
  }
  .block {
    flex: 100%;
    max-width: 310px;
  }
}

@media screen and (max-width: 400px) {
  .col-3 {
    flex: 100%;
    padding-left: 2px;
  }
  .block {
    flex: 100%;
    max-width: 310px;
  }
}

@media screen and (max-width: 370px) {
  .col-3 {
    flex: 100%;
    padding-left: 0px;
  }
  .block {
    flex: 100%;
    max-width: 100%;
  }
}
