@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.body {
    font-family: 'Raleway', sans-serif;
}

h1{
    color: #154360;
    margin-top: 20px;
    margin-left: 50px;
}



hr.new1 {
    border-top: 1px solid #154360;
}

