{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title> Fact Checker | Create </title>
{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css"  href="{% static 'css/fact_checker.css' %}">
{% endblock style %}

{% load crispy_forms_tags %}
    {% block content  %}
    <form method = "POST">
        {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-warning" type="submit" value="Submit">
        </form>
    {% endblock %}
