{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title> Fact Checker </title>
{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css"  href="{% static 'css/fact_checker.css' %}">
{% endblock style %}
   {% block content  %}
        {% if confirmation != "" %}
            <div class="alert alert-secondary" role="alert">
                {{ confirmation }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% endif %}
        <br>
        <h1 class="font-dark-blue bold">Fact Checker</h1>
        <br>
        <a class="btn btn-warning" href="{% url 'fact_checker:info-create' %}" role="button">Create Report</a>
        <br>
        <br>
        <div class="grey-card">
            <div class="container">
                <br>
                <h3 class="font-black bold">Fact Checked</h3>
                <br>
                {% if confirmed %}
                    {% for i in confirmed %}
                    <div>
                        <p class="font-yellow bold"><a href="{% url 'fact_checker:info-detail' i.id %}">{{ i.title }}</a></p>
                        <p class="font-black">{{ i.user_info|truncatechars:395 }}</p>
                    </div>
                    <br>
                    {% endfor %}
                {% else %}
                    <br>
                    <br>
                         <p class="font-black-muted d-flex justify-content-center">Nothing to display here</p>
                    <br>
                    <br>
                {% endif %}
            </div>
        </div>

        <br>

        <div class="grey-card">
            <div class="container">
                <br>
                <h3 class="font-black bold">Reported</h3>
                <br>
                {% if unconfirmed %}
                    {% for i in unconfirmed %}
                    <div>
                        <p class="font-yellow bold"><a href="{% url 'fact_checker:info-detail' i.id %}">{{ i.title }}</a></p>
                        <p class="font-black">{{ i.user_info|truncatechars:195 }}</p>
                    </div>
                    <br>
                    {% endfor %}
                {% else %}
                    <br>
                    <br>
                        <p class="font-black-muted d-flex justify-content-center">Nothing to display here</p>
                    <br>
                    <br>
                {% endif %}
            </div>
        </div>
    {% endblock  %}