{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title> Fact Checker | Detail </title>
{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css"  href="{% static 'css/fact_checker.css' %}">
{% endblock style %}
    {% block content  %}
        <h1 class= "font-dark-blue bold"> {{ info.title }}</h1>
        <p class="font-black-muted"> Submitted by : {{ info.user_name }}</p>
        <div class="grey-card">
            <div class="container">
            <br>
                <p>{{ info.user_info }}</p>
            <br>
            </div>
        </div>
        <br>
        <h1 class= "font-yellow bold"> Clarification </h1>
        <br>

        <div class="grey-card">
        <div class="container">
            {% if info.clarification  %}
            <br>
                <p>{{ info.clarification }}</p>
            <br>
            {% else %}
            <br>
            <br>
                <p class="font-black-muted d-flex justify-content-center">Nothing to display here</p>
            <br>
            <br>
        {% endif %}
        </div>
        </div>
    {% endblock %}
