{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>About</title>
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'about.css' %}">
{% endblock style %}

{% block content %}
<br>
<div class="row">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
    <img class="img-responsive" src="{% static 'covid.png' %}" >
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <h2 class="text">
        <b>Covinfo</b> akan memberikan informasi mengenai akumulasi 
        kasus covid-19 di setip provinsi di Indonesia. Covinfo dibuat oleh mahasiswa Fakultas Ilmu Komputer Universitas Indonesia untuk memenuhi tugas pada mata kuliah Program Perancangan Web semester 3. Melalu website ini diharapkan mampu memberi informasi kepada masyarakat Indonesia terkain kasus dan cara pencegahan penularan dari covid-19.
      </h2>
  </div>
</div>
{% endblock content %}