{% extends 'base.html' %}
{% load static %}

{% block title %}
     <title>Detail Mata Kuliah</title>
{% endblock title %}

{% block style %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|PT+Serif:400,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/home/style2.css">
    <link rel="stylesheet" href="../../static/home/mobile-style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
{% endblock style %}


{% block content %}
<div class="main-content">
<link rel="stylesheet" href="/static/home/Story5.css">

<style>
    body{
        background:url("/static/salju.jpeg");
        padding-bottom: 65vw;
        background-size: cover;
        font-family: Arial, Helvetica, sans-serif;
    }
    </style>

    <div class="container">
        <h1 class="text-center">
             Detail Volunteer
        </h1>
        <p>
        </p>
    <br>
    <table class="table table-striped table-dark">
        {% for Volunteer in VolunteerForm %}
            <tbody><tr>
                <td id="detail_keterangan">Nama</td>
                <td id="detail_penjelasan">{{Volunteer.Nama}}</td>
            </tr>
            <tr>
                <td id="detail_keterangan">Tujuan</td>
                <td id="detail_penjelasan">{{Volunteer.Tujuan}}</td>
            </tr>
            <tr>
                <td id="detail_keterangan">Kontak</td>
                <td id="detail_penjelasan">{{Volunteer.Kontak}}</td>
            </tr>
        </tbody>
        {% endfor %}
        </table>
      <div class="text-center">
        <a class="btn btn-sm btn-dark" href="/Volunteer">Kembali</a>
      </div>
    </div>


    </div>
{% endblock content %}