{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Volunteer</title>
{% endblock title %}

{% block style %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" type = "text/css"  href = "{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap" rel="stylesheet">
{% endblock style %}

{% block content %}
    <div style="margin: 55px"> 
        <div id = "Salam">
                <h1><p style="color:darkblue">Volunteer</p></h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <form action='' method="POST">
                            {% csrf_token %}
                            {{ form }}
                        <div class="centre-items">
                            <input type="submit" class="btn btn-warning" value="Submit">
                        </div>
                        </form>
                    </div>
                    <div class="col" id="tulisan">
                        <table  class="table">
                            <thead>
                                <tr>
                                <th scope="col"><p style="color:orange;">Nama</p></th>
                                <th scope="col"><p style="color:orange;">Tujuan</p></th>
                                <th scope="col"><p style="color:orange;">Kontak</p></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for donator in volun %}
                                    <tr>
                                    <th scope="row"><a href="{% url 'volunteer:Detail' donator.id %}">{{donator.Nama}}</a></th>
                                    <td>{{donator.Tujuan}}</td>
                                    <td>{{donator.Kontak}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
             </div>
{% endblock content %}