{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Message</title>
{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'message.css' %}">
{% endblock style %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="column">
            <div class="container-fluid">
                <h2 class="text-center">Kolom Pesan</h2>
                <form action="{% url 'message:confirmation' %}" class="main-form" id="form" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Nama</label>
                        <br>
                        {{ form.name }}
                    </div>
                    <div class="form-group">
                        <label for="name">Pesan</label>
                        <br>
                        {{ form.message }}
                    </div>
                    <button type="submit" class="btn btn-success mb-3 float-right">Tambah</button>
                </form>
            </div>
        </div>
        <div class="column">
            <div class="container-fluid">
                <h2 style="text-align: center;">Pesan dan Harapan</h2>
                {% for i in message %}
                <div class="mini-block">
                    <ul class="row justify-content-start">
                        <p style="color: #FCA311;">
                            <b>{{ i.name }}</b>
                            <br>
                            {{ i.message }}
                        </p>
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}