{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Confirmation</title>
{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'prevention.css' %}">
{% endblock style %}

{% block content %}

<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="col-3 ml-2">
            <div class="container-fluid">
                <img src="{% static '1_Xn_7ZpYbGAszWlotIOhLIQ.jpeg' %}" class="img-fluid" alt="Responsive image">
                <div class="block">
                    <p>Menggunakan Masker</p>
                </div>
            </div>
        </div>
        <div class="col-3 ml-2">
            <div class="container-fluid">
                <img src="{% static 'physical-distancing-4986940_1280.jpg' %}"  class="img-fluid" alt="Responsive image">
                <div class="block">
                    <p>Menjaga Jarak</p>
                </div>
            </div>
        </div>
        <div class="col-3 ml-2">
            <div class="container-fluid">
                <img src="{% static 'Eck83SEXoAATDcE.jpg' %}"  class="img-fluid" alt="Responsive image">
                <div class="block">
                    <p>Mencuci Tangan</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}